@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0px;
  padding:0px;
}
.font-heading{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
.font-pera{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
  font-family: "Manrope", sans-serif;
}